extends layout

block content
  div.page-info
  if user
    p #{user.username}

  div.list-container 
    if messages
      each message in messages
        div.list-entry
          p.list-entry__title #{message.title}
          p.list-entry__message #{message.text}
          div.list-entry__meta
            if (user)
              p.list-entry__author #{message.author.first_name} #{message.author.last_name}
              p.list-entry__date #{message.createdAt}

    else 
      h4 No messages posted