extends layout

block content
  if currentUser
    div.add-message
      form(method='POST' action='/add-message')
        div.form-group
          label(for='title') Title:
          input#title.form-control(type='text' placeholder='Title' name='title' required='true' minlength="1" maxlength="200" value=(undefined===currentPost ? '' : currentMessage.title) )
          label(for='last_name') Message:
          textarea#message.form-control(placeholder='Message' name='message' required='true' minlength="3" maxlength="400" value=(undefined===currentPost ? '' : currentMessage.message) )

        button.btn.btn-primary(type='submit') Submit
      hr

  div.list-container 
    if messages
      each message in messages
        div.list-entry
          div.list-entry__date
              if (currentUser && currentUser.status == "Member")
                p.list-entry__date-text #{message.created_date_formatted}
          div.list-entry__inner
            if (currentUser && currentUser.status == "Member")
              div.list-entry__side-tab
                p.list-entry__author #{message.author.first_name} #{message.author.last_name}
                if (currentUser.admin)
                  a(href=`/`+message._id+'/delete'): button.delete Delete
            div.list-entry__message
              p.list-entry__title #{message.title}
              p.list-entry__text #{message.text}
          
    else 
      h4 No messages posted